section {
    padding: 100px;
    background-color: black;
    color: white;
}

.hidden {
    visibility: hidden;
}

.hider {
    visibility: hidden;
}

@media only screen and (max-width: 768px) {
    section {
        background-color: red;
    }
    .hidden {
        visibility: visible;
    }
}