section {
    background-color: black;
    color: white;
    padding: 100px;
}

section p:nth-child(2) {
    visibility: hidden;
}

section p:nth-child(3) {
    visibility: hidden;
}

@media only screen and (max-width: 425px) {
    section {
        background-color: red;
    }
    section p:nth-child(2) {
        visibility: visible;
    }
}

@media only screen and (orientation:landscape) {

    section {
        background-image: linear-gradient(to right, red, yellow, green);
        color: black;
    }
    
    section::before {
            content:'i am not so normal now, am i!';
            box-shadow: 10px 10px;
            float: right;
            background-color: yellow;
            width: 200px;
            height: 25px;
            padding: 20px;
            color: black;
            border-radius: 35px;
    } 
    
    section:active::before {
        content:'you are breaking me';
        box-shadow: 10px 10px;
        position: inherit;
        background-color: red;
        width: 200px;
        height: 25px;
        padding: 20px;
        color: black;
        border-radius: 35px;
        animation: shake 0.5s; 
        animation-iteration-count: infinite;
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }

    section:active {
        background-image: linear-gradient(to right, blue, yellow, purple);
    }

    section p:nth-child(3) {
        visibility: visible;
    }

    section p:nth-child(2) {
        display: none;
    }

}